@tailwind base;
  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #303A2C;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #303A2C;
    border-radius: 2px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #303A2C;
}

@tailwind components;
@tailwind utilities;